# OS
.DS_Store
Thumbs.db
Desktop.ini

# Gradle
.gradle/
**/build/
!**/src/main/**/build/
!**/src/test/**/build/

# Gradle Wrapper
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/
!**/src/main/**/out/
!**/src/test/**/out/

# Spring / STS
HELP.md
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Logs / Dumps
*.hprof
*.stackdump

# macOS extras
.AppleDouble
.LSOverride
._*

# Windows recycle bin
$RECYCLE.BIN/

data
.logs
.discodeit